.corps {
	margin-top: 5%;
	margin-left: 2.5%;
	width: 95%;
}

.col-md-3 {
	margin-left : 6%;
	margin-bottom: 1%;
	border-style: solid;
	border-width: 1.5px;
	background-color: rgb(203,204,206);
}

.col-md-3 h3{
	text-align: center;
}

.col-md-3 .description {
	overflow: auto;
}

.col-md-3 .by {
	font-size: 75%;
	text-align: center;
	color: rgb(110, 117, 124);	
}

.col-md-3 p .btn-secondary {
	margin-left: 30%;
	padding: 4%;
	border-radius: 5px;
}

.corps .btCreaItem {
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

footer {
	padding-bottom: 1%;
}

footer hr {
	margin-left: 5%;
	width: 90%;
	
}

.col-md-3 img {
	margin-top: 1%;
	margin-left: 5%;
	width: 90%;
	height: 200px;
}

.affItem {
	margin-left: 2.5%;
}

.affItem img{
	display : inline-block;
	width: 15%;
	margin-right: 2%;
	border: 3px solid black;
	vertical-align: top;
	
}

.affItem .descrItem{
	display : inline-block;
	width: 40%;
}

.affItem .descrItem p {
	padding: 0%;
	margin-bottom: 1%;
}

.affItem button {
	margin-top: 1.5%;
	margin-right: 2%;
	padding: 1%;
	border-radius: 5px;
}

.formulaireModifItem {
	margin-left: 2.5%;
	margin-top: 2%;
}

.formulaireModifItem h2{
	margin-bottom: 2%;
}

.formulaireModifItem .text-input{
	margin-left: 2.5%;
	padding: 3% 0% 3% 3%;
	width: 90%;
	border-radius: 10px;
	background-color : rgb(203,204,206);
}

.formulaireModifItem #nom_item {
	margin-right: 2%;
	padding: 1% 1% 1% 1%;
	width: 25%;
	background-color : rgb(54, 58, 64);
	color : white;
}

.formulaireModifItem #prix_item {
	margin-right: 2%;
	padding: 1% 1% 1% 1%;
	width: 10%;
	background-color : rgb(54, 58, 64);
	color : white;
}

.formulaireModifItem #descr {
	margin-bottom: 2%;
	padding: 1% 1% 1% 1%;
	width: 50%;
	background-color : rgb(54, 58, 64);
	color : white;
}

.formulaireModifItem #img {
	margin-bottom: 2%;
	padding: 1% 1% 1% 1%;
	width: 30%;
	float: left;
	background-color : rgb(54, 58, 64);
	color : white;
}

.formulaireModifItem #url {
	margin-bottom: 2%;
	padding: 1% 1% 1% 1%;
	width: 50%;
	background-color : rgb(54, 58, 64);
	color : white;
}

.formulaireModifItem p {
	margin-bottom: 0.7%;
}

.formulaireModifItem ::placeholder {
	color : white;
}

.affiComm {
	margin-left: 2.5%;
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 1% 1% 1% 1%;
	border-radius: 10px;
	width: 45%;
	background-color : rgb(54, 58, 64);
	color : white;
}

.affiComm p{
	margin-left: 10%;
}

.formulaireNewComm {
	margin-left: 2.5%;
	padding: 3% 0% 1% 3%;
	width: 50%;
	border-radius: 10px;
	background-color : rgb(203,204,206);
}

.formulaireNewComm #nom_comm {
	margin-right: 2%;
	margin-bottom: 2%;
	padding: 1% 1% 1% 1%;
	width: 45%;
	background-color : rgb(54, 58, 64);
	color : white;
	border: 2px solid white;
}

.formulaireNewComm button {
	margin-left: 43%;
	font-size: 90%;
	width: 15%;
	padding: 2% 2% 2% 2%;
	background-color : rgb(54, 58, 64);
	color : white;
	border: 2px solid white;
}

.formulaireNewComm #comm {
	margin-bottom: 2%;
	padding: 1% 1% 1% 1%;
	width: 80%;
	background-color : rgb(54, 58, 64);
	color : white;
	border: 2px solid white;
}

.formulaireNewComm p {
	margin-bottom: 0%;
	text-align: center;
}

.affProfil {
	margin-top: 2%;
	margin-left: 2.5%;
	padding: 3% 0% 1% 3%;
	width: 50%;
	border-radius: 10px;
	background-color : rgb(203,204,206);
}

.affiResa {
	margin-left: 2.5%;
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 1% 1% 1% 1%;
	border-radius: 10px;
	width: 45%;
	background-color : rgb(54, 58, 64);
	color : white;
}

footer p {
	margin-bottom: 0%;
	text-align: center;
	font-weight: bold;
}